 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body,
 html {
    padding: 15px 0;
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     /* background-color: black; */
     background-color: rgb(240,240,240);
     font-family: Arial, sans-serif;
 }

 .container {
     background-color: #1e1e1e;
     width: 90%;
     max-width: 550px;
     padding: 20px;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 22px;
     border: 5px solid #1e1e1e;
     border-radius: 20px;
 }

 #heading {
     color: aqua;
     padding: 10px;
     font-size: 2.2rem;
     font-weight: bold;
     text-align: center;
 }

 #time {
     padding: 10px;
     font-size: 2rem;
 }

 .btnContainer {
     display: flex;
     gap: 12px;
     flex-wrap: wrap;
     justify-content: center;
 }

 .btnContainer button {
     padding: 8px 20px;
     border-radius: 30px;
     background-color: aqua;
     color: black;
     font-size: 1rem;
     font-weight: 600;
     cursor: pointer;
     transition: .3s ease;
 }

 .btnContainer button:hover {
     transform: translateY(-2px);
 }

 .lapRecord {
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     width: 100%;
 }

 .lapRecord .lap-div {
     width: 90%;
     max-width: 500px;
     padding: 10px 25px;
     font-size: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: aqua;
     border-radius: 10px;
     transition: .5s ease;
 }

 .lapRecord .lap-div h3 {
     font-weight: 400;
 }

 @media (max-width: 768px) {
     #heading {
         font-size: 1.9rem;
     }

     #time {
         font-size: 1.7rem;
     }

     .btnContainer button {
         padding: 8px 18px;
         font-size: 0.95rem;
     }

     .lapRecord .lap-div {
         gap: 20px;
     }
 }

 @media (max-width: 480px) {
     .container {
         width: 95%;
         padding: 15px;
         gap: 18px;
         margin-top: -15px;
     }

     #heading {
         font-size: 1.7rem;
     }

     #time {
         font-size: 1.5rem;
     }

     .btnContainer {
         gap: 10px;
     }

     .btnContainer button {
         width: 45%;
         padding: 8px 0;
         font-size: 0.9rem;
     }

     .lapRecord .lap-div {
         flex-direction: row;
         padding: 12px;
         gap: 5px;
         text-align: center;
     }

 }